USE [master]
GO
/****** Object:  Database [ELINK_COUP]    Script Date: 05/17/2012 13:44:50 ******/
CREATE DATABASE [ELINK_COUP] ON  PRIMARY 
( NAME = N'ELINK_COUP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008ENT\MSSQL\DATA\ELINK_COUP.mdf' , SIZE = 2240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ELINK_COUP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008ENT\MSSQL\DATA\ELINK_COUP_1.LDF' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELINK_COUP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELINK_COUP]
GO
/****** Object:  User [TSSMADO]    Script Date: 05/17/2012 13:44:50 ******/
CREATE USER [TSSMADO] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[zstates]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[zstates](
	[state] [char](25) NOT NULL,
	[abbr] [char](2) NOT NULL,
 CONSTRAINT [PK_zstates] PRIMARY KEY CLUSTERED 
(
	[abbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[zstates] ([state], [abbr]) VALUES (N'Alaska                   ', N'AK')
INSERT [dbo].[zstates] ([state], [abbr]) VALUES (N'Alabama                  ', N'AL')
INSERT [dbo].[zstates] ([state], [abbr]) VALUES (N'Arkansas                 ', N'AR')
/****** Object:  Table [dbo].[types]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[types](
	[ctype] [char](16) NULL,
	[cdesc] [char](50) NULL,
	[state] [char](2) NULL,
	[district] [char](2) NULL,
	[type_id] [char](16) NOT NULL,
 CONSTRAINT [PK_types] PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[types] ([ctype], [cdesc], [state], [district], [type_id]) VALUES (N'USAGE           ', N'Element Usage                                     ', N'  ', N'  ', N'4049110705747705')
INSERT [dbo].[types] ([ctype], [cdesc], [state], [district], [type_id]) VALUES (N'ADIRECT         ', N'ASCII File Direction                              ', N'  ', N'  ', N'4049110855605533')
INSERT [dbo].[types] ([ctype], [cdesc], [state], [district], [type_id]) VALUES (N'ATYPE           ', N'ASCII File Type                                   ', N'  ', N'  ', N'4049110903536579')
/****** Object:  Table [dbo].[imptable]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[imptable](
	[itableid] [char](38) NOT NULL,
	[tname] [char](50) NULL,
	[tdesc] [char](100) NULL,
	[iorder] [decimal](3, 0) NULL,
	[txtname] [char](100) NULL,
	[notes] [text] NULL,
	[datacreate] [smalldatetime] NULL,
	[hastable] [bit] NULL,
 CONSTRAINT [PK_imptable] PRIMARY KEY CLUSTERED 
(
	[itableid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dlinkfile]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dlinkfile](
	[dl_fileid] [char](16) NOT NULL,
	[dl_desc] [char](100) NULL,
	[dl_table] [char](100) NULL,
	[dl_dbc] [char](16) NULL,
	[dllocation] [char](250) NULL,
	[dl_type] [char](16) NULL,
	[dl_delim] [char](16) NULL,
	[dl_direct] [char](16) NULL,
	[dl_autoei] [bit] NULL,
	[dl_notes] [text] NULL,
	[dl_start] [int] NULL,
	[dl_object] [char](10) NULL,
	[dl_order] [decimal](3, 0) NULL,
	[typeid] [char](20) NULL,
	[dl_header] [bit] NULL,
	[dl_quote] [bit] NULL,
 CONSTRAINT [PK_dlinkfile] PRIMARY KEY CLUSTERED 
(
	[dl_fileid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[impfield]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[impfield](
	[ifieldid] [char](38) NOT NULL,
	[itableid] [char](38) NULL,
	[fname] [char](50) NULL,
	[ename] [char](50) NULL,
	[edesc] [char](254) NULL,
	[iorder] [decimal](3, 0) NULL,
	[notes] [text] NULL,
	[if_length] [decimal](3, 0) NULL,
	[if_dtype] [char](16) NULL,
 CONSTRAINT [PK_impfield] PRIMARY KEY CLUSTERED 
(
	[ifieldid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[dltable]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dltable](
	[dt_recid] [char](16) NOT NULL,
	[dt_fileid] [char](16) NOT NULL,
	[findaction] [char](1) NULL,
	[addaction] [char](1) NULL,
	[updaction] [char](1) NULL,
	[delaction] [char](1) NULL,
 CONSTRAINT [PK_dltable] PRIMARY KEY CLUSTERED 
(
	[dt_recid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[dltable] ([dt_recid], [dt_fileid], [findaction], [addaction], [updaction], [delaction]) VALUES (N'9409913565429541', N'9409913565421550', N'C', N'A', N'U', N'D')
INSERT [dbo].[dltable] ([dt_recid], [dt_fileid], [findaction], [addaction], [updaction], [delaction]) VALUES (N'9409913580332457', N'9409913580322438', N'C', N'A', N'U', N'D')
INSERT [dbo].[dltable] ([dt_recid], [dt_fileid], [findaction], [addaction], [updaction], [delaction]) VALUES (N'9409916484465066', N'9409916484452047', N'C', N'A', N'S', N'D')
/****** Object:  Table [dbo].[dlelement]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dlelement](
	[de_recid] [char](16) NOT NULL,
	[de_fileid] [char](16) NOT NULL,
	[de_table] [char](100) NULL,
	[de_order] [decimal](3, 0) NULL,
	[de_field] [char](50) NULL,
	[de_dtype] [char](16) NULL,
	[de_length] [decimal](4, 0) NULL,
	[de_desc] [char](254) NULL,
	[de_usage] [char](20) NULL,
	[de_value] [char](50) NULL,
	[de_vtype] [char](20) NULL,
	[de_code] [char](10) NULL,
	[de_format] [char](20) NULL,
	[de_notes] [text] NULL,
	[de_enform] [char](20) NULL,
	[isparentid] [bit] NULL,
	[isuniqueid] [bit] NULL,
	[tparent] [char](20) NULL,
	[typeid] [char](20) NULL,
	[islookup] [bit] NULL,
	[tpfield] [char](50) NULL,
 CONSTRAINT [PK_dlelement] PRIMARY KEY CLUSTERED 
(
	[de_recid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[codes]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[codes](
	[code_id] [char](16) NOT NULL,
	[fieldtype] [char](20) NULL,
	[ctype] [char](16) NULL,
	[code] [char](20) NULL,
	[cdesc] [char](100) NULL,
	[type_id] [char](16) NULL,
 CONSTRAINT [PK_codes] PRIMARY KEY CLUSTERED 
(
	[code_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[codes] ([code_id], [fieldtype], [ctype], [code], [cdesc], [type_id]) VALUES (N'4049114712207705', N'                    ', N'ADIRECT         ', N'FEXPORT             ', N'Export File                                                                                         ', N'4049110855605533')
INSERT [dbo].[codes] ([code_id], [fieldtype], [ctype], [code], [cdesc], [type_id]) VALUES (N'4049114733198533', N'                    ', N'ADIRECT         ', N'FIMPORT             ', N'Import File                                                                                         ', N'4049110855605533')
INSERT [dbo].[codes] ([code_id], [fieldtype], [ctype], [code], [cdesc], [type_id]) VALUES (N'4049114856898533', N'                    ', N'ATYPE           ', N'SDF                 ', N'Fixed Length File                                                                                   ', N'4049110903536579')
/****** Object:  Table [dbo].[dlimport]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dlimport](
	[dlimportid] [char](16) NOT NULL,
	[uidfield] [char](16) NULL,
	[orderby] [char](200) NULL,
	[dltableid] [char](16) NOT NULL,
 CONSTRAINT [PK_dlimport] PRIMARY KEY CLUSTERED 
(
	[dlimportid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[dlimport] ([dlimportid], [uidfield], [orderby], [dltableid]) VALUES (N'9410023363334255', N'                ', N'E_IEPREFID                                                                                                                                                                                              ', N'9409916484465066')
INSERT [dbo].[dlimport] ([dlimportid], [uidfield], [orderby], [dltableid]) VALUES (N'9410113305926316', N'                ', N'E_IEPREFID,E_SERVICETYPE,E_SERVICEREFID                                                                                                                                                                 ', N'9409916493706636')
INSERT [dbo].[dlimport] ([dlimportid], [uidfield], [orderby], [dltableid]) VALUES (N'9410208332482706', N'                ', N'E_DISTRICTCODE                                                                                                                                                                                          ', N'9409913565429541')
/****** Object:  Table [dbo].[imprecsel]    Script Date: 05/17/2012 13:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[imprecsel](
	[imprecsid] [char](16) NOT NULL,
	[fieldid] [char](16) NULL,
	[fldvalue] [char](200) NULL,
	[fldoperat] [char](16) NULL,
	[dlimportid] [char](16) NULL,
 CONSTRAINT [PK_imprecsel] PRIMARY KEY CLUSTERED 
(
	[imprecsid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_impfield_imptable]    Script Date: 05/17/2012 13:44:51 ******/
ALTER TABLE [dbo].[impfield]  WITH CHECK ADD  CONSTRAINT [FK_impfield_imptable] FOREIGN KEY([itableid])
REFERENCES [dbo].[imptable] ([itableid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[impfield] CHECK CONSTRAINT [FK_impfield_imptable]
GO
/****** Object:  ForeignKey [FK_dltable_dlinkfile]    Script Date: 05/17/2012 13:44:51 ******/
ALTER TABLE [dbo].[dltable]  WITH CHECK ADD  CONSTRAINT [FK_dltable_dlinkfile] FOREIGN KEY([dt_fileid])
REFERENCES [dbo].[dlinkfile] ([dl_fileid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dltable] CHECK CONSTRAINT [FK_dltable_dlinkfile]
GO
/****** Object:  ForeignKey [FK_dlelement_dlinkfile]    Script Date: 05/17/2012 13:44:51 ******/
ALTER TABLE [dbo].[dlelement]  WITH CHECK ADD  CONSTRAINT [FK_dlelement_dlinkfile] FOREIGN KEY([de_fileid])
REFERENCES [dbo].[dlinkfile] ([dl_fileid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dlelement] CHECK CONSTRAINT [FK_dlelement_dlinkfile]
GO
/****** Object:  ForeignKey [FK_codes_types]    Script Date: 05/17/2012 13:44:51 ******/
ALTER TABLE [dbo].[codes]  WITH CHECK ADD  CONSTRAINT [FK_codes_types] FOREIGN KEY([type_id])
REFERENCES [dbo].[types] ([type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[codes] CHECK CONSTRAINT [FK_codes_types]
GO
/****** Object:  ForeignKey [FK_dlimport_dltable]    Script Date: 05/17/2012 13:44:51 ******/
ALTER TABLE [dbo].[dlimport]  WITH CHECK ADD  CONSTRAINT [FK_dlimport_dltable] FOREIGN KEY([dltableid])
REFERENCES [dbo].[dltable] ([dt_recid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dlimport] CHECK CONSTRAINT [FK_dlimport_dltable]
GO
/****** Object:  ForeignKey [FK_imprecsel_dlimport]    Script Date: 05/17/2012 13:44:51 ******/
ALTER TABLE [dbo].[imprecsel]  WITH CHECK ADD  CONSTRAINT [FK_imprecsel_dlimport] FOREIGN KEY([dlimportid])
REFERENCES [dbo].[dlimport] ([dlimportid])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[imprecsel] CHECK CONSTRAINT [FK_imprecsel_dlimport]
GO
