BEGIN TRAN

set nocount on;
update VC3ETL.LoadTable set LastLoadDate = NULL where ExtractDatabase='29D14961-928D-4BEE-9025-238496D144C6';

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_ExtractDatabase TABLE (ID uniqueidentifier, Type uniqueidentifier, DatabaseType uniqueidentifier, Server varchar(64), DatabaseOwner varchar(64), DatabaseName varchar(128), Username varchar(32), Password varchar(32), LinkedServer varchar(100), IsLinkedServerManaged bit, LastExtractDate datetime, LastLoadDate datetime, SucceededEmail varchar(500), SucceededSubject text, SucceededMessage text, FailedEmail varchar(500), FailedSubject text, FailedMessage text, RetainSnapshot bit, DestTableTempSuffix varchar(30), DestTableFinalSuffix varchar(30), FileGroup varchar(64), Schedule uniqueidentifier, Name varchar(100), Enabled bit)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_FlatFileExtractDatabase TABLE (ID uniqueidentifier, LocalCopyPath varchar(1000))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_FlatFileExtractDatabase VALUES ('29d14961-928d-4bee-9025-238496d144c6', 'E:\DataFiles\CO\Douglas')

declare @dbo_EnrichFileFormatExtractDatabase table (ID uniqueidentifier, OrgUnitID uniqueidentifier)

insert @dbo_EnrichFileFormatExtractDatabase (ID, OrgUnitID) values ('29D14961-928D-4BEE-9025-238496D144C6', '6531EF88-352D-4620-AF5D-CE34C54A9F53')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @dbo_InformExtractDatabase TABLE (ID uniqueidentifier, LastExtractRosterYear uniqueidentifier, LastLoadRosterYear uniqueidentifier)

INSERT INTO @dbo_InformExtractDatabase VALUES ('29d14961-928d-4bee-9025-238496d144c6', NULL, NULL)
-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_FlatFileExtractTableType TABLE (ID char(1), Name varchar(50), TextQualifier char(1), ColumnDelimiter char(1))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_FlatFileExtractTableType VALUES ('C', 'Comma Delimitted File (CSV)', '"', ',')
INSERT INTO @VC3ETL_FlatFileExtractTableType VALUES ('D', 'Comma Delimitted File Dynamic', '"', ',')
INSERT INTO @VC3ETL_FlatFileExtractTableType VALUES ('P', 'Pipe Delimited File', NULL, '|')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_ExtractTable TABLE (ID uniqueidentifier, ExtractDatabase uniqueidentifier, SourceTable varchar(100), DestSchema varchar(50), DestTable varchar(50), PrimaryKey varchar(100), Indexes varchar(200), LastSuccessfulCount int, CurrentCount int, Filter varchar(1000), Enabled bit, IgnoreMissing bit, Columns varchar(4000), Comments varchar(1000))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_ExtractTable VALUES ('a59fc278-5868-4ddf-9d17-1161d0f7c27a', '29d14961-928d-4bee-9025-238496d144c6', 'TeamMember', 'LEGACYSPED', 'TeamMember', 'StaffEmail,StudentRefID,IsCaseManager', NULL, 0, 25, NULL, 1, 1, NULL, NULL)
INSERT INTO @VC3ETL_ExtractTable VALUES ('cc06f529-7204-4f10-8d24-233c7c7ced7c', '29d14961-928d-4bee-9025-238496d144c6', 'SelectLists', 'LEGACYSPED', 'SelectLists', NULL, 'Type,SubType,LegacySpedCode', 0, 151, NULL, 1, 0, NULL, NULL)
INSERT INTO @VC3ETL_ExtractTable VALUES ('a1d1b44e-a980-4c57-8177-75ed07e2f580', '29d14961-928d-4bee-9025-238496d144c6', 'Service', 'LEGACYSPED', 'Service', 'ServiceRefID', NULL, 0, 21542, NULL, 1, 1, NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_FlatFileExtractTable TABLE (ID uniqueidentifier, Type char(1), FileName varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_FlatFileExtractTable VALUES ('a59fc278-5868-4ddf-9d17-1161d0f7c27a', 'P', 'TeamMember.csv')
INSERT INTO @VC3ETL_FlatFileExtractTable VALUES ('cc06f529-7204-4f10-8d24-233c7c7ced7c', 'P', 'SelectLists.csv')
INSERT INTO @VC3ETL_FlatFileExtractTable VALUES ('a1d1b44e-a980-4c57-8177-75ed07e2f580', 'P', 'Service.csv')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_LoadTable TABLE (ID uniqueidentifier, ExtractDatabase uniqueidentifier, Sequence int, SourceTable varchar(100), DestTable varchar(100), HasMapTable bit, MapTable varchar(100), KeyField varchar(250), DeleteKey varchar(50), ImportType int, DeleteTrans bit, UpdateTrans bit, InsertTrans bit, Enabled bit, SourceTableFilter varchar(1000), DestTableFilter varchar(1000), PurgeCondition varchar(1000), KeepMappingAfterDelete bit, StartNewTransaction bit, LastLoadDate datetime, MapTableMapID varchar(250), Comments varchar(1000))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_LoadTable VALUES ('90dc3810-824a-4040-a223-0290453aa934', '29d14961-928d-4bee-9025-238496d144c6', 20, 'LEGACYSPED.Transform_PrgIep', 'PrgItem', 1, 'LEGACYSPED.MAP_IepStudentRefID', 'IepRefID, StudentRefID', 'DestID', 1, 0, 1, 1, 1, 'DoNotTouch = 0', 'd.DefID = ''8011D6A2-1014-454B-B83C-161CE678E3D3''', '1=1', 0, 0, '1/1/1970 12:00:00 AM', NULL, NULL)
INSERT INTO @VC3ETL_LoadTable VALUES ('f8b21125-33fb-4291-b79c-03da15c4861e', '29d14961-928d-4bee-9025-238496d144c6', 997, 'Util_VerifyProgramDataAssumptions ''F98A8EF2-98E2-4CAC-95AF-D7D89EF7F80C''', NULL, 0, NULL, NULL, NULL, 4, 0, 0, 0, 0, NULL, NULL, NULL, 0, 0, '1/1/1970 12:00:00 AM', NULL, NULL)
INSERT INTO @VC3ETL_LoadTable VALUES ('dfaed4cb-5586-4e9d-801e-07fe16b6ae8d', '29d14961-928d-4bee-9025-238496d144c6', 24, 'LEGACYSPED.Transform_IepServices', 'FormInstance', 1, 'LEGACYSPED.MAP_FormInstance_Services', 'IepRefId', 'DestID', 1, 1, 1, 1, 1, NULL, NULL, NULL, 0, 0, '1/1/1970 12:00:00 AM', NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_LoadColumn TABLE (ID uniqueidentifier, LoadTable uniqueidentifier, SourceColumn varchar(500), DestColumn varchar(500), ColumnType char(1), UpdateOnDelete bit, DeletedValue varchar(500), NullValue varchar(500), Comments varchar(1000))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_LoadColumn VALUES ('063ecf4f-7b45-4bfd-b799-00c97cc7f64e', '12982413-86e6-4cfb-b7d7-bb51d3be0fe4', 'FormInputValue', 'ID', 'K', 0, NULL, NULL, NULL)
INSERT INTO @VC3ETL_LoadColumn VALUES ('7489fca5-ce5f-4b80-a14c-019be1a8d7bc', '78d7c5c4-dc7b-4443-bd00-297742cf435b', 'UseProgressReporting', 'UseProgressReporting', 'C', 0, NULL, NULL, NULL)
INSERT INTO @VC3ETL_LoadColumn VALUES ('a586faee-b022-4376-ba6a-02b85972f4f7', 'b471f9b9-b781-4646-9788-f7fcb0390eb2', 'StatusStyleID', 'StatusStyleID', 'C', 0, NULL, NULL, NULL)

--StudentSchoolHistory	

--StudentGradeLevelHistory

set nocount off;
-- DO NOT REMOVE THE DELETE SECTION.  We ended up with duplicate rows in VC3ETL.LoadColumn for StudentRace (2 for studentid and 2 for raceid).  Must delete obsolete records.
print 'Delete'
declare @lt uniqueidentifier, @et uniqueidentifier ; select @lt = 'E179D757-9AF7-4B30-9202-9617CA3AE30F', @et = '29D14961-928D-4BEE-9025-238496D144C6'
DELETE Destination FROM @VC3ETL_LoadColumn Source RIGHT JOIN VC3ETL.LoadColumn Destination ON Source.ID = Destination.ID WHERE Source.ID IS NULL and Destination.LoadTable in (select ID from VC3ETL.LoadTable where ExtractDatabase = @et)


-- Insert records in the destination tables that do not already exist
INSERT INTO VC3ETL.ExtractDatabase SELECT Source.* FROM @VC3ETL_ExtractDatabase Source LEFT JOIN VC3ETL.ExtractDatabase Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.FlatFileExtractDatabase SELECT Source.* FROM @VC3ETL_FlatFileExtractDatabase Source LEFT JOIN VC3ETL.FlatFileExtractDatabase Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO dbo.InformExtractDatabase SELECT Source.* FROM @dbo_InformExtractDatabase Source LEFT JOIN dbo.InformExtractDatabase Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO dbo.EnrichFileFormatExtractDatabase SELECT Source.* FROM @dbo_EnrichFileFormatExtractDatabase Source LEFT JOIN dbo.EnrichFileFormatExtractDatabase Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.FlatFileExtractTableType SELECT Source.* FROM @VC3ETL_FlatFileExtractTableType Source LEFT JOIN VC3ETL.FlatFileExtractTableType Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.ExtractTable SELECT Source.* FROM @VC3ETL_ExtractTable Source LEFT JOIN VC3ETL.ExtractTable Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.FlatFileExtractTable SELECT Source.* FROM @VC3ETL_FlatFileExtractTable Source LEFT JOIN VC3ETL.FlatFileExtractTable Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.LoadTable SELECT Source.* FROM @VC3ETL_LoadTable Source LEFT JOIN VC3ETL.LoadTable Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.LoadColumn SELECT Source.* FROM @VC3ETL_LoadColumn Source LEFT JOIN VC3ETL.LoadColumn Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL


-- Update records in the destination table that already exist
UPDATE Destination SET Destination.Type = Source.Type, Destination.DatabaseType = Source.DatabaseType, Destination.Server = Source.Server, Destination.DatabaseOwner = Source.DatabaseOwner, Destination.DatabaseName = Source.DatabaseName, Destination.Username = Source.Username, Destination.Password = Source.Password, Destination.LinkedServer = Source.LinkedServer, Destination.IsLinkedServerManaged = Source.IsLinkedServerManaged, Destination.LastExtractDate = Source.LastExtractDate, Destination.LastLoadDate = Source.LastLoadDate, Destination.SucceededEmail = Source.SucceededEmail, Destination.SucceededSubject = Source.SucceededSubject, Destination.SucceededMessage = Source.SucceededMessage, Destination.FailedEmail = Source.FailedEmail, Destination.FailedSubject = Source.FailedSubject, Destination.FailedMessage = Source.FailedMessage, Destination.RetainSnapshot = Source.RetainSnapshot, Destination.DestTableTempSuffix = Source.DestTableTempSuffix, Destination.DestTableFinalSuffix = Source.DestTableFinalSuffix, Destination.FileGroup = Source.FileGroup, Destination.Schedule = Source.Schedule, Destination.Name = Source.Name, Destination.Enabled = Source.Enabled FROM @VC3ETL_ExtractDatabase Source JOIN VC3ETL.ExtractDatabase Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.LocalCopyPath = Source.LocalCopyPath FROM @VC3ETL_FlatFileExtractDatabase Source JOIN VC3ETL.FlatFileExtractDatabase Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.LastExtractRosterYear = Source.LastExtractRosterYear, Destination.LastLoadRosterYear = Source.LastLoadRosterYear FROM @dbo_InformExtractDatabase Source JOIN dbo.InformExtractDatabase Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.TextQualifier = Source.TextQualifier, Destination.ColumnDelimiter = Source.ColumnDelimiter FROM @VC3ETL_FlatFileExtractTableType Source JOIN VC3ETL.FlatFileExtractTableType Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.ExtractDatabase = Source.ExtractDatabase, Destination.SourceTable = Source.SourceTable, Destination.DestSchema = Source.DestSchema, Destination.DestTable = Source.DestTable, Destination.PrimaryKey = Source.PrimaryKey, Destination.Indexes = Source.Indexes, Destination.LastSuccessfulCount = Source.LastSuccessfulCount, Destination.CurrentCount = Source.CurrentCount, Destination.Filter = Source.Filter, Destination.Enabled = Source.Enabled, Destination.IgnoreMissing = Source.IgnoreMissing, Destination.Columns = Source.Columns, Destination.Comments = Source.Comments FROM @VC3ETL_ExtractTable Source JOIN VC3ETL.ExtractTable Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Type = Source.Type, Destination.FileName = Source.FileName FROM @VC3ETL_FlatFileExtractTable Source JOIN VC3ETL.FlatFileExtractTable Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.ExtractDatabase = Source.ExtractDatabase, Destination.Sequence = Source.Sequence, Destination.SourceTable = Source.SourceTable, Destination.DestTable = Source.DestTable, Destination.HasMapTable = Source.HasMapTable, Destination.MapTable = Source.MapTable, Destination.KeyField = Source.KeyField, Destination.DeleteKey = Source.DeleteKey, Destination.ImportType = Source.ImportType, Destination.DeleteTrans = Source.DeleteTrans, Destination.UpdateTrans = Source.UpdateTrans, Destination.InsertTrans = Source.InsertTrans, Destination.Enabled = Source.Enabled, Destination.SourceTableFilter = Source.SourceTableFilter, Destination.DestTableFilter = Source.DestTableFilter, Destination.PurgeCondition = Source.PurgeCondition, Destination.KeepMappingAfterDelete = Source.KeepMappingAfterDelete, Destination.StartNewTransaction = Source.StartNewTransaction, Destination.LastLoadDate = Source.LastLoadDate, Destination.MapTableMapID = Source.MapTableMapID, Destination.Comments = Source.Comments FROM @VC3ETL_LoadTable Source JOIN VC3ETL.LoadTable Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.LoadTable = Source.LoadTable, Destination.SourceColumn = Source.SourceColumn, Destination.DestColumn = Source.DestColumn, Destination.ColumnType = Source.ColumnType, Destination.UpdateOnDelete = Source.UpdateOnDelete, Destination.DeletedValue = Source.DeletedValue, Destination.NullValue = Source.NullValue, Destination.Comments = Source.Comments FROM @VC3ETL_LoadColumn Source JOIN VC3ETL.LoadColumn Destination ON Source.ID = Destination.ID

set nocount off;

COMMIT TRAN
