BEGIN TRAN

-- Declare a temporary table to hold the data to be synchronized
DECLARE @Program TABLE (ID uniqueidentifier, Name varchar(50), Description varchar(400), VariantLabel varchar(50), SubVariantLabel varchar(50), Abbreviation varchar(10), DeletedDate datetime)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @Program VALUES ('f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 'Special Education', 'Integration of evaluation, eligibility, placement, and monitoring aspects of a child receiving assistance under IDEA to ensure compliance with federal regulations.', NULL, NULL, 'SpEd', NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgStatus TABLE (ID uniqueidentifier, ProgramID uniqueidentifier, Sequence int, Name varchar(50), IsExit bit, IsEntry bit, DeletedDate datetime, StatusStyleID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgStatus VALUES ('75489662-f5c9-4efb-aef3-02e943eec6f5', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 4, 'Transferred Out', 1, 0, NULL, 'fa528c27-e567-4cc9-a328-ff499bb803f6')
INSERT INTO @PrgStatus VALUES ('30d6bcd2-94bf-4b7e-ba00-15724a543f0e', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 3, 'IEP', 0, 0, NULL, '85aab540-503f-4613-9f1f-a14c72764285')
INSERT INTO @PrgStatus VALUES ('0a2a0e2f-92ba-43fc-9a95-196e5e72825f', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 0, 'Referred', 0, 0, NULL, '0b9b2334-8f46-4414-ba81-1d50ba4cf065')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgItemDef TABLE (ID uniqueidentifier, TypeID uniqueidentifier, ProgramID uniqueidentifier, StatusID uniqueidentifier, Name varchar(50), Description varchar(400), DeletedDate datetime, UseTeam bit, TeamLabel varchar(50), UsePlannedEndDate bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgItemDef VALUES ('e23a84d6-723b-4f22-a421-2db2832b70f1', 'a5990b5e-afad-4ef0-9cca-dc3685296870', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', NULL, 'IEP - Early Childhood', NULL, NULL, 0, NULL, 1)
INSERT INTO @PrgItemDef VALUES ('251da756-a67a-453c-a676-3b88c1b9340c', 'a5990b5e-afad-4ef0-9cca-dc3685296870', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', NULL, 'IEP - Regular', NULL, NULL, 0, NULL, 1)
INSERT INTO @PrgItemDef VALUES ('d9c75918-25c4-4bd8-aca2-4b6bdc05bd1d', '2a37fb49-1977-48c7-9031-56148aee8328', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', NULL, 'Eligibility Determination', NULL, NULL, 0, NULL, 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgItemOutcome TABLE (ID uniqueidentifier, CurrentDefID uniqueidentifier, Text varchar(100), Sequence int, NextDefID uniqueidentifier, NextStatusID uniqueidentifier, DeletedDate datetime)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgItemOutcome VALUES ('2d9a947d-5400-4a7f-894f-1cc5afad0264', '1b2b081e-3467-4df2-b745-4ccc9c87c1c6', 'No disability suspected', 0, NULL, '82388309-e8ab-4ac2-bac0-d16fd7a6e63d', NULL)
INSERT INTO @PrgItemOutcome VALUES ('012e1108-76ee-4fcc-a344-378c03ca7aa1', '1b2b081e-3467-4df2-b745-4ccc9c87c1c6', 'Eligibility can be determined', 3, 'd9c75918-25c4-4bd8-aca2-4b6bdc05bd1d', 'ff8646b8-132a-4784-a3f3-74a32c8cd211', NULL)
INSERT INTO @PrgItemOutcome VALUES ('8e345ce2-6bd4-48f9-84a7-44e2f4294c25', 'c4131d88-c8bb-47ca-a444-a99fead062eb', 'Meeting was cancelled or postponed', 1, NULL, NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgActivityReason TABLE (ID uniqueidentifier, DefID uniqueidentifier, Text varchar(50), Sequence int)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgActivityReason VALUES ('05cf6f07-cbb1-41ff-b652-29fb982dea93', '1b2b081e-3467-4df2-b745-4ccc9c87c1c6', 'Team request', 1)
INSERT INTO @PrgActivityReason VALUES ('fbdbeb21-becf-40f1-9aaa-3f97551a6748', '82fe7739-200f-451a-ad89-b1490f4eb90a', 'Re-evaluation', 1)
INSERT INTO @PrgActivityReason VALUES ('04bee126-51b6-4b8a-bcb1-524bb167992f', 'c4131d88-c8bb-47ca-a444-a99fead062eb', 'Parent request', 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgSectionDef TABLE (ID uniqueidentifier, TypeID uniqueidentifier, ItemDefID uniqueidentifier, Sequence int, IsVersioned bit, Code varchar(10), Title varchar(50), VideoUrl varchar(200), HelpTextLegal text, HelpTextInfo text, FormTemplateID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgSectionDef VALUES ('00923cec-89d0-43e0-9556-01e5dd0faaf5', '7e6f8640-deb8-441f-bd3a-4b2e96eaa6b4', '7ebb43ce-c936-419d-8c81-f70f8eff6374', 0, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT INTO @PrgSectionDef VALUES ('164a7c0c-eb4d-4cc7-ac9c-06c222353e5b', 'f65aef7a-5ef8-46dd-b207-ada61cd3a4cb', '7ebb43ce-c936-419d-8c81-f70f8eff6374', 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT INTO @PrgSectionDef VALUES ('3c6c85fd-6e9f-477c-91df-0acc2988a809', '3b28afde-cae9-4bfb-b010-535e1a8d68ca', '251da756-a67a-453c-a676-3b88c1b9340c', 4, 1, NULL, NULL, NULL, NULL, NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgMilestoneDef TABLE (ID uniqueidentifier, Name varchar(50), Description text, ProgramID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgVariant TABLE (ID uniqueidentifier, ProgramID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgVariant VALUES ('d9d0abad-69f6-46df-83cb-bafc72aaab86', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 'Special Education')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgSubVariant TABLE (ID uniqueidentifier, VariantID uniqueidentifier, Name varchar(50), Sequence int)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgProbeTypeSubVariant TABLE (ProbeTypeID uniqueidentifier, SubVariantID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplate TABLE (Id uniqueidentifier, Name varchar(50), TypeId uniqueidentifier, IntervalSeriesId uniqueidentifier, PageLength float, ProgramID uniqueidentifier, Code varchar(25))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @FormTemplate VALUES ('38c2a055-67aa-42b5-8bd6-082b8172835c', 'Evaluation Report', 'f4e41948-74c0-4bb5-b218-f2437c7b040b', '6e839019-46cc-4246-bb42-5ca42ed4ae6b', 11, 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 'EvalReport')
INSERT INTO @FormTemplate VALUES ('b584be0c-8a6f-4251-83ff-7706a06c041e', 'Consent for Evaluation', 'f4e41948-74c0-4bb5-b218-f2437c7b040b', '6e839019-46cc-4246-bb42-5ca42ed4ae6b', 11, 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 'EvalConsent')
INSERT INTO @FormTemplate VALUES ('d0dc4241-44d6-4b88-b603-867ae1071b55', 'Learning Media Plan', 'f4e41948-74c0-4bb5-b218-f2437c7b040b', '6e839019-46cc-4246-bb42-5ca42ed4ae6b', 11, 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', 'LearningMediaPlan')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateFormInterval TABLE (TemplateId uniqueidentifier, IntervalId uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @FormTemplateFormInterval VALUES ('38c2a055-67aa-42b5-8bd6-082b8172835c', 'fbe8314c-e0a0-4c5a-9361-7201081bd47d')
INSERT INTO @FormTemplateFormInterval VALUES ('b584be0c-8a6f-4251-83ff-7706a06c041e', 'fbe8314c-e0a0-4c5a-9361-7201081bd47d')
INSERT INTO @FormTemplateFormInterval VALUES ('d0dc4241-44d6-4b88-b603-867ae1071b55', 'fbe8314c-e0a0-4c5a-9361-7201081bd47d')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateControl TABLE (Id uniqueidentifier, TypeId uniqueidentifier, IsShared bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @FormTemplateControl VALUES ('674ce41d-48a4-4b21-8d15-007e35fbf9f3', 'e4ca3afe-cda7-4187-9efe-4cd9945617d8', 0)
INSERT INTO @FormTemplateControl VALUES ('8fc46a53-b7ae-4e6f-b6c0-0428cca37f96', '4d88f8ae-cdbd-4f36-ab52-80664e307bb1', 0)
INSERT INTO @FormTemplateControl VALUES ('534fee64-366d-4c3e-9941-06bfd93a127d', 'd4c549ba-5874-4693-bb20-a890f2d3c274', 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @SubjectFormInputArea TABLE (Id uniqueidentifier, SubjectId uniqueidentifier)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateLayout TABLE (Id uniqueidentifier, TemplateId uniqueidentifier, ControlId uniqueidentifier, ParentId uniqueidentifier, Sequence int)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @FormTemplateLayout VALUES ('dfc9224e-8171-4c81-bc9e-01d52c1ef919', 'd0dc4241-44d6-4b88-b603-867ae1071b55', 'fc4e05ec-1680-411b-8c52-b7ea1c310627', '7331d34b-af8a-4c6b-901a-029b26ccee79', 1)
INSERT INTO @FormTemplateLayout VALUES ('7331d34b-af8a-4c6b-901a-029b26ccee79', 'd0dc4241-44d6-4b88-b603-867ae1071b55', 'e5afb0e2-7cbb-4661-969f-1da77bd3edfa', NULL, 0)
INSERT INTO @FormTemplateLayout VALUES ('d4ba0539-1aab-4017-90cf-065e49525d4c', '5de299e3-b5a9-4129-a5d7-9129efd829d0', 'f5cd51d2-8471-47b4-84a8-8245b544c28d', NULL, 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateControlFormInterval TABLE (ControlId uniqueidentifier, IntervalId uniqueidentifier)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateControlProperty TABLE (Id uniqueidentifier, ControlId uniqueidentifier, Name varchar(50), Value varchar(4000), IsLiteral bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @FormTemplateControlProperty VALUES ('63d30afd-fe0d-4b64-abe6-09e094cfac57', '985535b3-58fe-45de-8285-202f760e283c', 'Label', 'Team info', 1)
INSERT INTO @FormTemplateControlProperty VALUES ('94eb6bec-7a42-4855-b531-0ccaee8d5b00', '534fee64-366d-4c3e-9941-06bfd93a127d', 'Width', '30%', 1)
INSERT INTO @FormTemplateControlProperty VALUES ('634f1071-262a-4253-a95c-1060d782c988', 'fa2e5a61-36c1-410d-b265-5c7481e2189a', 'Text', 'Current Learning and Literacy Mode(s):', 1)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateInputItem TABLE (Id uniqueidentifier, InputAreaId uniqueidentifier, Label varchar(250), Sequence int, ParentId uniqueidentifier, TypeId uniqueidentifier, EnabledCondition varchar(200), Control varchar(50), Code varchar(25))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @FormTemplateInputItem VALUES ('d37201c6-5348-4248-be81-0439a3b0c015', 'e6f4b628-196d-4882-bff6-98c815e7cf6d', 'Phone', 2, NULL, 'fab80418-b934-479d-b877-17a7fb3ac14b', NULL, NULL, NULL)
INSERT INTO @FormTemplateInputItem VALUES ('18c113ab-82e6-4aa5-ab0e-06d0ac6b1944', '5026f1a3-aeaa-44cb-b0f9-5eba57bc1382', 'Review of Medical Information/Records (describe any medical concerns currently impacting the student.', 0, NULL, 'fab80418-b934-479d-b877-17a7fb3ac14b', NULL, 'OneParagraph', NULL)
INSERT INTO @FormTemplateInputItem VALUES ('42f84cb3-f1cc-4777-a7bc-0b67cd073e26', 'd47dbbae-7673-43a2-8df6-895d62a6d72f', 'Date refusal received', 1, NULL, '0398ddb0-10ae-4290-999a-9553fbc8f55b', NULL, NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateInputComboField TABLE (ID uniqueidentifier, AllowCustomOptions bit)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateInputEnumField TABLE (Id uniqueidentifier, EnumTypeId uniqueidentifier)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FormTemplateInputComboFieldOption TABLE (ID uniqueidentifier, ComboFieldId uniqueidentifier, FormInstanceId uniqueidentifier, Label varchar(500), IsDefault bit)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgFilter TABLE (ID uniqueidentifier, TypeID uniqueidentifier, ProgramID uniqueidentifier, PlanDefID uniqueidentifier, StatusID uniqueidentifier, VariantID uniqueidentifier, SubVariantID uniqueidentifier, ActivityDefID uniqueidentifier, ActivityReasonID uniqueidentifier, ToolDefID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgFilter VALUES ('b692b72d-e13f-4784-a6f9-e084123ea7bc', '39afbcb2-c16c-4b1c-b3ff-99b15859aa95', 'f98a8ef2-98e2-4cac-95af-d7d89ef7f80c', NULL, NULL, NULL, NULL, '251da756-a67a-453c-a676-3b88c1b9340c', NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgRule TABLE (ID uniqueidentifier, TypeID uniqueidentifier, FilterID uniqueidentifier, ActivityDefID uniqueidentifier, ToolDefID uniqueidentifier, GoalDefID uniqueidentifier, FormTemplateID uniqueidentifier, IsRequired bit, Sequence int)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgRule VALUES ('5606be25-4cf0-47e9-a1c0-3e06adab17cc', '29ce6d60-4d82-41bb-b188-f60e84cc6426', 'b692b72d-e13f-4784-a6f9-e084123ea7bc', NULL, NULL, NULL, 'd0dc4241-44d6-4b88-b603-867ae1071b55', 0, 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @FileData TABLE (ID uniqueidentifier, OriginalName varchar(1024), ReceivedDate datetime, MimeType varchar(50), Content image, IsTemporary bit)

-- Insert the data to be synchronized into the temporary table

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgDocumentDef TABLE (ID uniqueidentifier, ItemDefId uniqueidentifier, Name varchar(100), TemplateFileId uniqueidentifier, Description varchar(4000), FinalizeTypeId char(1), AutoAttach bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgDocumentDef VALUES ('1ca4fdbe-aa3d-4269-bd9f-6bf757459ff2', '251da756-a67a-453c-a676-3b88c1b9340c', 'Individualized Education Plan', '05eeb88d-02e9-4948-9db7-b71f7a836ad7', NULL, 'V', 1)
INSERT INTO @PrgDocumentDef VALUES ('82763bc7-d193-4be1-8117-d4dc3f82f184', '251da756-a67a-453c-a676-3b88c1b9340c', 'Learning Media Plan', '55e4e58d-6192-4358-9671-ce50e5ef81b6', NULL, 'V', 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @PrgDocumentInput TABLE (ID uniqueidentifier, DefId uniqueidentifier, Path varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @PrgDocumentInput VALUES ('aba8f6ab-7e1d-4dca-ad1d-2d4b6fd33d4c', '82763bc7-d193-4be1-8117-d4dc3f82f184', 'Item.LearningMediaPlan.CurrentCoSecondaryMode')
INSERT INTO @PrgDocumentInput VALUES ('38d760e5-7639-4ef6-bd8f-8105a91bf1c4', '82763bc7-d193-4be1-8117-d4dc3f82f184', 'Item.LearningMediaPlan.CurrentPrimaryMode')
INSERT INTO @PrgDocumentInput VALUES ('16dfa8bc-4ac7-4969-9fe7-a6c7d40311d5', '82763bc7-d193-4be1-8117-d4dc3f82f184', 'Item.LearningMediaPlan.CurrentSecondaryMode')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepLanguage TABLE (ID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepLanguage VALUES ('bcd22641-26b3-4152-adcc-12b862ffc8f5', 'Kurdish')
INSERT INTO @IepLanguage VALUES ('165e54e8-c981-48ca-878d-12fb24da986f', 'Other')
INSERT INTO @IepLanguage VALUES ('c811cb2b-1601-4693-b6f9-136a02a78183', 'Somali')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepSpecialFactorDef TABLE (ID uniqueidentifier, Sequence int, Question varchar(250), Description text, IsCustom bit, IsEnabled bit, FormTemplateId uniqueidentifier, DocumentDefId uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepSpecialFactorDef VALUES ('9faa7e57-0599-4019-9c12-038aa8058488', 1, 'Is the student blind or visually impaired?', 'If yes, generate Learning Media Plan.', 1, 1, NULL, NULL)
INSERT INTO @IepSpecialFactorDef VALUES ('7544e258-659a-4843-bd6d-48c85203a9a5', 5, 'Does the student have Limited English Proficiency?', 'If yes, specify how this will be addressed:', 1, 1, NULL, NULL)
INSERT INTO @IepSpecialFactorDef VALUES ('8fcb7e57-5235-4d87-973a-786cf501679b', 7, 'Does the student require Special Transportation?', 'If yes, specify:', 1, 1, NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepGraduationType TABLE (ID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepGraduationType VALUES ('b7f48c72-b240-4e39-99c9-7d06e3ef046a', 'Diploma')
INSERT INTO @IepGraduationType VALUES ('75c194fa-69c8-4d4e-9e71-b046a7125191', 'Certificate')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepPostSchoolAreaDef TABLE (ID uniqueidentifier, Sequence int, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepPostSchoolAreaDef VALUES ('2b5d9c8a-7fa7-4e74-9f0c-53327209e751', 2, 'Independent Living Skills Goal (when appropriate)')
INSERT INTO @IepPostSchoolAreaDef VALUES ('adb5c7fd-c09f-41e3-9c0e-9af403c741d1', 0, 'Post-School Education/Training Goal')
INSERT INTO @IepPostSchoolAreaDef VALUES ('823ba9db-af13-42bd-9cc2-eaa884701523', 1, 'Career Employment Goal')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepPostSchoolCourseDef TABLE (ID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepPostSchoolCourseDef VALUES ('8445dffa-7a67-4ace-a301-3a263af13523', 'course 03')
INSERT INTO @IepPostSchoolCourseDef VALUES ('318e510f-e3ff-4c3e-bd30-869c2ec22814', 'course 02')
INSERT INTO @IepPostSchoolCourseDef VALUES ('cf3dc78b-8037-4e66-b799-b5c573251119', 'course 01')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepPostSchoolAgencyDef TABLE (ID uniqueidentifier, AreaDefID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepPostSchoolAgencyDef VALUES ('15d027d9-b3e7-46f5-9502-6d77bc71dc38', NULL, 'agency 02')
INSERT INTO @IepPostSchoolAgencyDef VALUES ('d3fab31b-8746-4633-ac5c-c7de79425bd2', NULL, 'agency 01')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepPostSchoolServiceDef TABLE (ID uniqueidentifier, AreaDefID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepPostSchoolServiceDef VALUES ('4e1f8791-0d33-4af4-a0e1-13444bfa237b', NULL, 'service 01')
INSERT INTO @IepPostSchoolServiceDef VALUES ('2fb152ab-424c-406a-adc6-9310e7ec4eda', NULL, 'service 03')
INSERT INTO @IepPostSchoolServiceDef VALUES ('3a49094c-560d-4c26-bdff-a342f52431f0', NULL, 'service 02')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepAccomodationCategory TABLE (ID uniqueidentifier, Name varchar(50), AllowCustom bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepAccomodationCategory VALUES ('bbc68ec9-80ee-480e-8b5c-ad3f32eab2c6', 'Curricular', 0)
INSERT INTO @IepAccomodationCategory VALUES ('ffc6969b-cfd1-4297-8216-d82a7085aede', 'Non-Curricular', 1)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepAccomodationDef TABLE (ID uniqueidentifier, CategoryID uniqueidentifier, Text varchar(100), IsModification bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepAccomodationDef VALUES ('4f9a341c-4cd5-443d-b280-06c13d7d1cf1', 'ffc6969b-cfd1-4297-8216-d82a7085aede', 'noncur accom 02', 0)
INSERT INTO @IepAccomodationDef VALUES ('8ae93f1d-8115-424c-9e13-0a4f0f0fd97f', 'bbc68ec9-80ee-480e-8b5c-ad3f32eab2c6', 'curric modif 02', 1)
INSERT INTO @IepAccomodationDef VALUES ('a183b6bb-4af0-4bb4-8215-0e42382b6167', 'ffc6969b-cfd1-4297-8216-d82a7085aede', 'noncur accom 01', 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepEsyCriterionDef TABLE (ID uniqueidentifier, QuestionText varchar(255), Sequence int, Title varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepEsyCriterionDef VALUES ('05e1cf4d-f7d2-490d-a344-22e3d75002c4', 'Did the student experience significant regression on their IEP goals and objectives?', 0, 'Regression')
INSERT INTO @IepEsyCriterionDef VALUES ('4cfdbd81-b1bc-4573-85ff-4ab832e57648', 'Did the student require an unreasonably long period of time to relearn previously learned skills?', 1, NULL)
INSERT INTO @IepEsyCriterionDef VALUES ('b6f9ae88-687b-423f-be6e-7bfbf9d238ab', 'Are there other factors relevant in determining eligibility for ESY services?', 2, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepGoalArea TABLE (ID uniqueidentifier, Sequence int, Name varchar(50), AllowCustomProbes bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepGoalArea VALUES ('504ce0ed-537f-4ea0-bd97-0349fb1a4ca8', 0, 'Goal Area 01', 0)
INSERT INTO @IepGoalArea VALUES ('37ea0554-ec3f-4b95-aad7-a52decc7377c', 1, 'Goal Area 02', 0)
INSERT INTO @IepGoalArea VALUES ('0e95d360-5cbe-4eca-820f-cc25864d70d8', 2, 'Goal Area 03', 0)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepProgRptFreq TABLE (ID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepProgRptFreq VALUES ('a3ff9417-0899-42be-8090-d1855d50612f', 'Quarterly')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepTestDef TABLE (ID uniqueidentifier, Name varchar(100), IsState bit, MinGradeID uniqueidentifier, MaxGradeID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepTestDef VALUES ('75f0ae65-7b7d-479e-89b5-3f59b226b5d0', 'ELDA', 1, NULL, NULL)
INSERT INTO @IepTestDef VALUES ('5e20428a-ebd3-4e0f-b029-b900d54cdda2', 'EOCEP', 1, NULL, NULL)
INSERT INTO @IepTestDef VALUES ('ad4e646d-8c92-4ca7-b299-bf09951f62f2', 'PASS', 1, 'd3c1bd80-0d32-4317-bab8-caf196d19350', '245f48a7-6927-4efa-a3f2-af30463c9b4d')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepTestParticipationDef TABLE (ID uniqueidentifier, Text varchar(50), AllowsAccoms bit, Sequence int)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepTestParticipationDef VALUES ('beec3514-e366-4ce2-af3c-16249e473274', 'Yes', 1, 0)
INSERT INTO @IepTestParticipationDef VALUES ('20805d3a-6cab-49bc-bba8-4740b43642b9', 'No', 0, 1)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepTestAccomCategory TABLE (ID uniqueidentifier, Name varchar(50))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepTestAccomCategory VALUES ('a5add442-98c5-454f-8e2c-1ce833ca625d', 'Mathematics')
INSERT INTO @IepTestAccomCategory VALUES ('71aa74f9-0843-4756-94a8-43dc2d856e1c', 'Setting')
INSERT INTO @IepTestAccomCategory VALUES ('6af5db96-50a2-41ac-b2a8-49ccf8d2f92b', 'Response Options')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepTestAccomDef TABLE (ID uniqueidentifier, Text varchar(200), CategoryID uniqueidentifier, MinGradeID uniqueidentifier, MaxGradeID uniqueidentifier, IsStandard bit)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepTestAccomDef VALUES ('b473ea55-2f98-4179-be9c-09b799e089be', 'signed administration of ELA', '89a4ca39-bdd9-4129-8d49-daabb339eceb', 'd3c1bd80-0d32-4317-bab8-caf196d19350', 'be4f651a-d5b5-4b05-8237-9fd33e4d2b68', 0)
INSERT INTO @IepTestAccomDef VALUES ('ca37f087-2439-4825-ada7-1471444ea5ab', 'highlighting', '89a4ca39-bdd9-4129-8d49-daabb339eceb', NULL, NULL, 1)
INSERT INTO @IepTestAccomDef VALUES ('aa7908c3-c5ba-4ed1-ba93-14805b084193', 'reading aloud to self', '89a4ca39-bdd9-4129-8d49-daabb339eceb', NULL, NULL, 1)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepAllowedTestParticipation TABLE (TestDefID uniqueidentifier, ParticipationDefID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepAllowedTestParticipation VALUES ('75f0ae65-7b7d-479e-89b5-3f59b226b5d0', 'beec3514-e366-4ce2-af3c-16249e473274')
INSERT INTO @IepAllowedTestParticipation VALUES ('75f0ae65-7b7d-479e-89b5-3f59b226b5d0', '20805d3a-6cab-49bc-bba8-4740b43642b9')
INSERT INTO @IepAllowedTestParticipation VALUES ('5e20428a-ebd3-4e0f-b029-b900d54cdda2', 'beec3514-e366-4ce2-af3c-16249e473274')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepJustificationDef TABLE (ID uniqueidentifier, Name varchar(200), Description text)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepJustificationDef VALUES ('1cbe17df-cefa-446b-a203-8b0955adece0', 'State Testing Participation', 'Provide reason for student to not participate in any particular state assessments')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepJustificationCriterion TABLE (ID uniqueidentifier, JustificationDefID uniqueidentifier, TestDefID uniqueidentifier, ParticipationDefID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepJustificationCriterion VALUES ('60e39775-45af-4729-a6d2-2871bf9199ed', '1cbe17df-cefa-446b-a203-8b0955adece0', '35829821-ba96-4735-9b64-c3af448c995d', '20805d3a-6cab-49bc-bba8-4740b43642b9')
INSERT INTO @IepJustificationCriterion VALUES ('f46c8c16-d231-452f-8991-6fdce313c990', '1cbe17df-cefa-446b-a203-8b0955adece0', 'ad4e646d-8c92-4ca7-b299-bf09951f62f2', '20805d3a-6cab-49bc-bba8-4740b43642b9')
INSERT INTO @IepJustificationCriterion VALUES ('9d379d12-2da3-477a-a4cc-b7e161fd5add', '1cbe17df-cefa-446b-a203-8b0955adece0', '75f0ae65-7b7d-479e-89b5-3f59b226b5d0', '20805d3a-6cab-49bc-bba8-4740b43642b9')

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepServiceDef TABLE (ID uniqueidentifier, Name varchar(100), Description text, DefaultProviderTitle varchar(100))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepServiceDef VALUES ('7bbaab01-398d-4835-b4b0-13d543fac564', 'Psychological Services', NULL, NULL)
INSERT INTO @IepServiceDef VALUES ('b874a136-2f0e-4955-aa1e-1f0d45f263fb', 'Occupational Therapy', NULL, NULL)
INSERT INTO @IepServiceDef VALUES ('9de4cbf9-bd8d-490c-8e1b-34f5e73def11', 'Classroom Instruction', NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepPlacementType TABLE (ID uniqueidentifier, Name varchar(50), MinAge int, MaxAge int)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepPlacementType VALUES ('d9d84e5b-45f9-4c72-8265-51a945cd0049', 'Ages 6-21', 6, 21)
INSERT INTO @IepPlacementType VALUES ('e47fba7f-8eb0-4869-89df-9dd3456846ec', 'Ages 3-5', 3, 5)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepPlacementOption TABLE (ID uniqueidentifier, TypeID uniqueidentifier, Sequence int, Text varchar(100), StateCode varchar(10), MinPercentGenEd int, MaxPercentGenEd int)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepPlacementOption VALUES ('a3fa6e17-e828-4a7c-a002-0a49b834bd1e', 'e47fba7f-8eb0-4869-89df-9dd3456846ec', 2, 'In Regular Early Childhood Program Less Than 40% of the Time', NULL, NULL, NULL)
INSERT INTO @IepPlacementOption VALUES ('d634cd6a-c22f-4b34-89a8-340a13891e24', 'd9d84e5b-45f9-4c72-8265-51a945cd0049', 7, 'Homebound/Hospital - Home-based', NULL, NULL, NULL)
INSERT INTO @IepPlacementOption VALUES ('dc20b53c-0559-44f6-a463-3a92d9d4f69a', 'e47fba7f-8eb0-4869-89df-9dd3456846ec', 0, 'In Regular Early Childhood Program at Least 80% of the Time', NULL, NULL, NULL)

-- Declare a temporary table to hold the data to be synchronized
DECLARE @IepDisability TABLE (ID uniqueidentifier, Name varchar(50), Definition text, DeterminationFormTemplateID uniqueidentifier)

-- Insert the data to be synchronized into the temporary table
INSERT INTO @IepDisability VALUES ('52431290-0b16-4732-840b-10986a1fbe1e', 'Deafness', 'Deafness means a hearing impairment that is so severe that the child is impaired in processing linguistic information through hearing, with or without amplification that adversely affects a childs e', NULL)
INSERT INTO @IepDisability VALUES ('a1504419-19f6-434b-b4a3-1e5a69e99a9b', 'Emotional Disturbance', 'Emotional disturbance means a condition exhibiting one or more of the following characteristics over a long period of time and to a marked degree that adversely affects a childs educational performa', NULL)
INSERT INTO @IepDisability VALUES ('3567f202-646f-4a7e-860a-2100242c7182', 'Other Health Impairment', 'Other health impairment means having limited strength, vitality, or alertness, including a heightened alertness to environmental stimuli, that results in limited alertness with respect to the educati', NULL)

-- Insert records in the destination tables that do not already exist
INSERT INTO Program SELECT Source.* FROM @Program Source LEFT JOIN Program Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgStatus SELECT Source.* FROM @PrgStatus Source LEFT JOIN PrgStatus Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgItemDef SELECT Source.* FROM @PrgItemDef Source LEFT JOIN PrgItemDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgItemOutcome SELECT Source.* FROM @PrgItemOutcome Source LEFT JOIN PrgItemOutcome Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgActivityReason SELECT Source.* FROM @PrgActivityReason Source LEFT JOIN PrgActivityReason Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgSectionDef SELECT Source.* FROM @PrgSectionDef Source LEFT JOIN PrgSectionDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgMilestoneDef SELECT Source.* FROM @PrgMilestoneDef Source LEFT JOIN PrgMilestoneDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgVariant SELECT Source.* FROM @PrgVariant Source LEFT JOIN PrgVariant Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgSubVariant SELECT Source.* FROM @PrgSubVariant Source LEFT JOIN PrgSubVariant Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgProbeTypeSubVariant SELECT Source.* FROM @PrgProbeTypeSubVariant Source LEFT JOIN PrgProbeTypeSubVariant Destination ON Source.ProbeTypeID = Destination.ProbeTypeID AND Source.SubVariantID = Destination.SubVariantID WHERE Destination.ProbeTypeID IS NULL
INSERT INTO FormTemplate SELECT Source.* FROM @FormTemplate Source LEFT JOIN FormTemplate Destination ON Source.Id = Destination.Id WHERE Destination.Id IS NULL
INSERT INTO FormTemplateFormInterval SELECT Source.* FROM @FormTemplateFormInterval Source LEFT JOIN FormTemplateFormInterval Destination ON Source.TemplateId = Destination.TemplateId AND Source.IntervalId = Destination.IntervalId WHERE Destination.TemplateId IS NULL
INSERT INTO FormTemplateControl SELECT Source.* FROM @FormTemplateControl Source LEFT JOIN FormTemplateControl Destination ON Source.Id = Destination.Id WHERE Destination.Id IS NULL
INSERT INTO SubjectFormInputArea SELECT Source.* FROM @SubjectFormInputArea Source LEFT JOIN SubjectFormInputArea Destination ON Source.Id = Destination.Id WHERE Destination.Id IS NULL
INSERT INTO FormTemplateLayout SELECT Source.* FROM @FormTemplateLayout Source LEFT JOIN FormTemplateLayout Destination ON Source.Id = Destination.Id WHERE Destination.Id IS NULL
INSERT INTO FormTemplateControlFormInterval SELECT Source.* FROM @FormTemplateControlFormInterval Source LEFT JOIN FormTemplateControlFormInterval Destination ON Source.ControlId = Destination.ControlId AND Source.IntervalId = Destination.IntervalId WHERE Destination.ControlId IS NULL
INSERT INTO FormTemplateControlProperty SELECT Source.* FROM @FormTemplateControlProperty Source LEFT JOIN FormTemplateControlProperty Destination ON Source.Id = Destination.Id WHERE Destination.Id IS NULL
INSERT INTO FormTemplateInputItem SELECT Source.* FROM @FormTemplateInputItem Source LEFT JOIN FormTemplateInputItem Destination ON Source.Id = Destination.Id WHERE Destination.Id IS NULL
INSERT INTO FormTemplateInputComboField SELECT Source.* FROM @FormTemplateInputComboField Source LEFT JOIN FormTemplateInputComboField Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO FormTemplateInputEnumField SELECT Source.* FROM @FormTemplateInputEnumField Source LEFT JOIN FormTemplateInputEnumField Destination ON Source.Id = Destination.Id WHERE Destination.Id IS NULL
INSERT INTO FormTemplateInputComboFieldOption SELECT Source.* FROM @FormTemplateInputComboFieldOption Source LEFT JOIN FormTemplateInputComboFieldOption Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgFilter SELECT Source.* FROM @PrgFilter Source LEFT JOIN PrgFilter Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgRule SELECT Source.* FROM @PrgRule Source LEFT JOIN PrgRule Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO FileData SELECT Source.* FROM @FileData Source LEFT JOIN FileData Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgDocumentDef SELECT Source.* FROM @PrgDocumentDef Source LEFT JOIN PrgDocumentDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO PrgDocumentInput SELECT Source.* FROM @PrgDocumentInput Source LEFT JOIN PrgDocumentInput Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepLanguage SELECT Source.* FROM @IepLanguage Source LEFT JOIN IepLanguage Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepSpecialFactorDef SELECT Source.* FROM @IepSpecialFactorDef Source LEFT JOIN IepSpecialFactorDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepGraduationType SELECT Source.* FROM @IepGraduationType Source LEFT JOIN IepGraduationType Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepPostSchoolAreaDef SELECT Source.* FROM @IepPostSchoolAreaDef Source LEFT JOIN IepPostSchoolAreaDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepPostSchoolCourseDef SELECT Source.* FROM @IepPostSchoolCourseDef Source LEFT JOIN IepPostSchoolCourseDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepPostSchoolAgencyDef SELECT Source.* FROM @IepPostSchoolAgencyDef Source LEFT JOIN IepPostSchoolAgencyDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepPostSchoolServiceDef SELECT Source.* FROM @IepPostSchoolServiceDef Source LEFT JOIN IepPostSchoolServiceDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepAccomodationCategory SELECT Source.* FROM @IepAccomodationCategory Source LEFT JOIN IepAccomodationCategory Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepAccomodationDef SELECT Source.* FROM @IepAccomodationDef Source LEFT JOIN IepAccomodationDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepEsyCriterionDef SELECT Source.* FROM @IepEsyCriterionDef Source LEFT JOIN IepEsyCriterionDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepGoalArea SELECT Source.* FROM @IepGoalArea Source LEFT JOIN IepGoalArea Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepProgRptFreq SELECT Source.* FROM @IepProgRptFreq Source LEFT JOIN IepProgRptFreq Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepTestDef SELECT Source.* FROM @IepTestDef Source LEFT JOIN IepTestDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepTestParticipationDef SELECT Source.* FROM @IepTestParticipationDef Source LEFT JOIN IepTestParticipationDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepTestAccomCategory SELECT Source.* FROM @IepTestAccomCategory Source LEFT JOIN IepTestAccomCategory Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepTestAccomDef SELECT Source.* FROM @IepTestAccomDef Source LEFT JOIN IepTestAccomDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepAllowedTestParticipation SELECT Source.* FROM @IepAllowedTestParticipation Source LEFT JOIN IepAllowedTestParticipation Destination ON Source.TestDefID = Destination.TestDefID AND Source.ParticipationDefID = Destination.ParticipationDefID WHERE Destination.TestDefID IS NULL
INSERT INTO IepJustificationDef SELECT Source.* FROM @IepJustificationDef Source LEFT JOIN IepJustificationDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepJustificationCriterion SELECT Source.* FROM @IepJustificationCriterion Source LEFT JOIN IepJustificationCriterion Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepServiceDef SELECT Source.* FROM @IepServiceDef Source LEFT JOIN IepServiceDef Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepPlacementType SELECT Source.* FROM @IepPlacementType Source LEFT JOIN IepPlacementType Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepPlacementOption SELECT Source.* FROM @IepPlacementOption Source LEFT JOIN IepPlacementOption Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO IepDisability SELECT Source.* FROM @IepDisability Source LEFT JOIN IepDisability Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL

-- Update records in the destination table that already exist
UPDATE Destination SET Destination.Name = Source.Name, Destination.Description = Source.Description, Destination.VariantLabel = Source.VariantLabel, Destination.SubVariantLabel = Source.SubVariantLabel, Destination.Abbreviation = Source.Abbreviation, Destination.DeletedDate = Source.DeletedDate FROM @Program Source JOIN Program Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.ProgramID = Source.ProgramID, Destination.Sequence = Source.Sequence, Destination.Name = Source.Name, Destination.IsExit = Source.IsExit, Destination.IsEntry = Source.IsEntry, Destination.DeletedDate = Source.DeletedDate, Destination.StatusStyleID = Source.StatusStyleID FROM @PrgStatus Source JOIN PrgStatus Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.TypeID = Source.TypeID, Destination.ProgramID = Source.ProgramID, Destination.StatusID = Source.StatusID, Destination.Name = Source.Name, Destination.Description = Source.Description, Destination.DeletedDate = Source.DeletedDate, Destination.UseTeam = Source.UseTeam, Destination.TeamLabel = Source.TeamLabel, Destination.UsePlannedEndDate = Source.UsePlannedEndDate FROM @PrgItemDef Source JOIN PrgItemDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.CurrentDefID = Source.CurrentDefID, Destination.Text = Source.Text, Destination.Sequence = Source.Sequence, Destination.NextDefID = Source.NextDefID, Destination.NextStatusID = Source.NextStatusID, Destination.DeletedDate = Source.DeletedDate FROM @PrgItemOutcome Source JOIN PrgItemOutcome Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.DefID = Source.DefID, Destination.Text = Source.Text, Destination.Sequence = Source.Sequence FROM @PrgActivityReason Source JOIN PrgActivityReason Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.TypeID = Source.TypeID, Destination.ItemDefID = Source.ItemDefID, Destination.Sequence = Source.Sequence, Destination.IsVersioned = Source.IsVersioned, Destination.Code = Source.Code, Destination.Title = Source.Title, Destination.VideoUrl = Source.VideoUrl, Destination.HelpTextLegal = Source.HelpTextLegal, Destination.HelpTextInfo = Source.HelpTextInfo, Destination.FormTemplateID = Source.FormTemplateID FROM @PrgSectionDef Source JOIN PrgSectionDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.Description = Source.Description, Destination.ProgramID = Source.ProgramID FROM @PrgMilestoneDef Source JOIN PrgMilestoneDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.ProgramID = Source.ProgramID, Destination.Name = Source.Name FROM @PrgVariant Source JOIN PrgVariant Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.VariantID = Source.VariantID, Destination.Name = Source.Name, Destination.Sequence = Source.Sequence FROM @PrgSubVariant Source JOIN PrgSubVariant Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.TypeId = Source.TypeId, Destination.IntervalSeriesId = Source.IntervalSeriesId, Destination.PageLength = Source.PageLength, Destination.ProgramID = Source.ProgramID, Destination.Code = Source.Code FROM @FormTemplate Source JOIN FormTemplate Destination ON Source.Id = Destination.Id
UPDATE Destination SET Destination.TypeId = Source.TypeId, Destination.IsShared = Source.IsShared FROM @FormTemplateControl Source JOIN FormTemplateControl Destination ON Source.Id = Destination.Id
UPDATE Destination SET Destination.SubjectId = Source.SubjectId FROM @SubjectFormInputArea Source JOIN SubjectFormInputArea Destination ON Source.Id = Destination.Id
UPDATE Destination SET Destination.TemplateId = Source.TemplateId, Destination.ControlId = Source.ControlId, Destination.ParentId = Source.ParentId, Destination.Sequence = Source.Sequence FROM @FormTemplateLayout Source JOIN FormTemplateLayout Destination ON Source.Id = Destination.Id
UPDATE Destination SET Destination.ControlId = Source.ControlId, Destination.Name = Source.Name, Destination.Value = Source.Value, Destination.IsLiteral = Source.IsLiteral FROM @FormTemplateControlProperty Source JOIN FormTemplateControlProperty Destination ON Source.Id = Destination.Id
UPDATE Destination SET Destination.InputAreaId = Source.InputAreaId, Destination.Label = Source.Label, Destination.Sequence = Source.Sequence, Destination.ParentId = Source.ParentId, Destination.TypeId = Source.TypeId, Destination.EnabledCondition = Source.EnabledCondition, Destination.Control = Source.Control, Destination.Code = Source.Code FROM @FormTemplateInputItem Source JOIN FormTemplateInputItem Destination ON Source.Id = Destination.Id
UPDATE Destination SET Destination.AllowCustomOptions = Source.AllowCustomOptions FROM @FormTemplateInputComboField Source JOIN FormTemplateInputComboField Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.EnumTypeId = Source.EnumTypeId FROM @FormTemplateInputEnumField Source JOIN FormTemplateInputEnumField Destination ON Source.Id = Destination.Id
UPDATE Destination SET Destination.ComboFieldId = Source.ComboFieldId, Destination.FormInstanceId = Source.FormInstanceId, Destination.Label = Source.Label, Destination.IsDefault = Source.IsDefault FROM @FormTemplateInputComboFieldOption Source JOIN FormTemplateInputComboFieldOption Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.TypeID = Source.TypeID, Destination.ProgramID = Source.ProgramID, Destination.PlanDefID = Source.PlanDefID, Destination.StatusID = Source.StatusID, Destination.VariantID = Source.VariantID, Destination.SubVariantID = Source.SubVariantID, Destination.ActivityDefID = Source.ActivityDefID, Destination.ActivityReasonID = Source.ActivityReasonID, Destination.ToolDefID = Source.ToolDefID FROM @PrgFilter Source JOIN PrgFilter Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.TypeID = Source.TypeID, Destination.FilterID = Source.FilterID, Destination.ActivityDefID = Source.ActivityDefID, Destination.ToolDefID = Source.ToolDefID, Destination.GoalDefID = Source.GoalDefID, Destination.FormTemplateID = Source.FormTemplateID, Destination.IsRequired = Source.IsRequired, Destination.Sequence = Source.Sequence FROM @PrgRule Source JOIN PrgRule Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.OriginalName = Source.OriginalName, Destination.ReceivedDate = Source.ReceivedDate, Destination.MimeType = Source.MimeType, Destination.Content = Source.Content, Destination.IsTemporary = Source.IsTemporary FROM @FileData Source JOIN FileData Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.ItemDefId = Source.ItemDefId, Destination.Name = Source.Name, Destination.TemplateFileId = Source.TemplateFileId, Destination.Description = Source.Description, Destination.FinalizeTypeId = Source.FinalizeTypeId, Destination.AutoAttach = Source.AutoAttach FROM @PrgDocumentDef Source JOIN PrgDocumentDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.DefId = Source.DefId, Destination.Path = Source.Path FROM @PrgDocumentInput Source JOIN PrgDocumentInput Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name FROM @IepLanguage Source JOIN IepLanguage Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Sequence = Source.Sequence, Destination.Question = Source.Question, Destination.Description = Source.Description, Destination.IsCustom = Source.IsCustom, Destination.IsEnabled = Source.IsEnabled, Destination.FormTemplateId = Source.FormTemplateId, Destination.DocumentDefId = Source.DocumentDefId FROM @IepSpecialFactorDef Source JOIN IepSpecialFactorDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name FROM @IepGraduationType Source JOIN IepGraduationType Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Sequence = Source.Sequence, Destination.Name = Source.Name FROM @IepPostSchoolAreaDef Source JOIN IepPostSchoolAreaDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name FROM @IepPostSchoolCourseDef Source JOIN IepPostSchoolCourseDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.AreaDefID = Source.AreaDefID, Destination.Name = Source.Name FROM @IepPostSchoolAgencyDef Source JOIN IepPostSchoolAgencyDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.AreaDefID = Source.AreaDefID, Destination.Name = Source.Name FROM @IepPostSchoolServiceDef Source JOIN IepPostSchoolServiceDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.AllowCustom = Source.AllowCustom FROM @IepAccomodationCategory Source JOIN IepAccomodationCategory Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.CategoryID = Source.CategoryID, Destination.Text = Source.Text, Destination.IsModification = Source.IsModification FROM @IepAccomodationDef Source JOIN IepAccomodationDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.QuestionText = Source.QuestionText, Destination.Sequence = Source.Sequence, Destination.Title = Source.Title FROM @IepEsyCriterionDef Source JOIN IepEsyCriterionDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Sequence = Source.Sequence, Destination.Name = Source.Name, Destination.AllowCustomProbes = Source.AllowCustomProbes FROM @IepGoalArea Source JOIN IepGoalArea Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name FROM @IepProgRptFreq Source JOIN IepProgRptFreq Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.IsState = Source.IsState, Destination.MinGradeID = Source.MinGradeID, Destination.MaxGradeID = Source.MaxGradeID FROM @IepTestDef Source JOIN IepTestDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Text = Source.Text, Destination.AllowsAccoms = Source.AllowsAccoms, Destination.Sequence = Source.Sequence FROM @IepTestParticipationDef Source JOIN IepTestParticipationDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name FROM @IepTestAccomCategory Source JOIN IepTestAccomCategory Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Text = Source.Text, Destination.CategoryID = Source.CategoryID, Destination.MinGradeID = Source.MinGradeID, Destination.MaxGradeID = Source.MaxGradeID, Destination.IsStandard = Source.IsStandard FROM @IepTestAccomDef Source JOIN IepTestAccomDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.Description = Source.Description FROM @IepJustificationDef Source JOIN IepJustificationDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.JustificationDefID = Source.JustificationDefID, Destination.TestDefID = Source.TestDefID, Destination.ParticipationDefID = Source.ParticipationDefID FROM @IepJustificationCriterion Source JOIN IepJustificationCriterion Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.Description = Source.Description, Destination.DefaultProviderTitle = Source.DefaultProviderTitle FROM @IepServiceDef Source JOIN IepServiceDef Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.MinAge = Source.MinAge, Destination.MaxAge = Source.MaxAge FROM @IepPlacementType Source JOIN IepPlacementType Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.TypeID = Source.TypeID, Destination.Sequence = Source.Sequence, Destination.Text = Source.Text, Destination.StateCode = Source.StateCode, Destination.MinPercentGenEd = Source.MinPercentGenEd, Destination.MaxPercentGenEd = Source.MaxPercentGenEd FROM @IepPlacementOption Source JOIN IepPlacementOption Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.Name = Source.Name, Destination.Definition = Source.Definition, Destination.DeterminationFormTemplateID = Source.DeterminationFormTemplateID FROM @IepDisability Source JOIN IepDisability Destination ON Source.ID = Destination.ID

COMMIT TRAN
