BEGIN TRAN

set nocount on;update VC3ETL.LoadTable set LastLoadDate = NULL where ExtractDatabase='E664C745-7397-4F7E-80FE-5D19B7B56EEE';

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_ExtractDatabase TABLE (ID uniqueidentifier, Type uniqueidentifier, DatabaseType uniqueidentifier, Server varchar(64), DatabaseOwner varchar(64), DatabaseName varchar(128), Username varchar(32), Password varchar(32), LinkedServer varchar(100), IsLinkedServerManaged bit, LastExtractDate datetime, LastLoadDate datetime, SucceededEmail varchar(500), SucceededSubject text, SucceededMessage text, FailedEmail varchar(500), FailedSubject text, FailedMessage text, RetainSnapshot bit, DestTableTempSuffix varchar(30), DestTableFinalSuffix varchar(30), FileGroup varchar(64), Schedule uniqueidentifier, Name varchar(100), Enabled bit)


-- Insert the data to be synchronized into the temporary table


-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_ExtractTable TABLE (ID uniqueidentifier, ExtractDatabase uniqueidentifier, SourceTable varchar(100), DestSchema varchar(50), DestTable varchar(50), PrimaryKey varchar(100), Indexes varchar(200), LastSuccessfulCount int, CurrentCount int, Filter varchar(1000), Enabled bit, IgnoreMissing bit, Columns varchar(4000), Comments varchar(1000))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_ExtractTable VALUES ('6D22D962-EB0F-48CD-9054-1BF73C51C991', 'E664C745-7397-4F7E-80FE-5D19B7B56EEE', 'SelectLists_Enrich', 'Legacysped', 'SelectLists', NULL, NULL, 0, 0, NULL, 1, 0, NULL, NULL)
INSERT INTO @VC3ETL_ExtractTable VALUES ('78089BE6-A253-481C-BC17-E1C6CF5C95BA', 'E664C745-7397-4F7E-80FE-5D19B7B56EEE', 'District_Enrich', 'Legacysped', 'District', 'DistrictCode', NULL, 0, 0, NULL, 1, 0, NULL, NULL)
INSERT INTO @VC3ETL_ExtractTable VALUES ('102E4C4F-2A28-4DDF-A299-3DADCA698F77', 'E664C745-7397-4F7E-80FE-5D19B7B56EEE', 'School_Enrich', 'Legacysped', 'School', 'SchoolCode,DistrictCode', NULL, 0, 0, NULL, 1, 0, NULL, NULL)


-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_LoadTable TABLE (ID uniqueidentifier, ExtractDatabase uniqueidentifier, Sequence int, SourceTable varchar(100), DestTable varchar(100), HasMapTable bit, MapTable varchar(100), KeyField varchar(250), DeleteKey varchar(50), ImportType int, DeleteTrans bit, UpdateTrans bit, InsertTrans bit, Enabled bit, SourceTableFilter varchar(1000), DestTableFilter varchar(1000), PurgeCondition varchar(1000), KeepMappingAfterDelete bit, StartNewTransaction bit, LastLoadDate datetime, MapTableMapID varchar(250), Comments varchar(1000))

-- Insert the data to be synchronized into the temporary table
-- Add LoadTable record to populate PrgDocument with Converted Data Document.
INSERT INTO @VC3ETL_LoadTable VALUES ('90dc3810-824a-4040-a223-0290453aa934', 'E664C745-7397-4F7E-80FE-5D19B7B56EEE', 20, 'LEGACYSPED.Transform_PrgIep', 'PrgItem', 1, 'LEGACYSPED.MAP_IepStudentRefID', 'IepRefID, StudentRefID, SpecialEdStatus', 'DestID', 1, 0, 1, 1, 1, 'DoNotTouch = 0', 'd.DefID = ''8011D6A2-1014-454B-B83C-161CE678E3D3'' and d.CreatedDate = ''1/1/1970'' and d.IsEnded = 0 and d.Revision = 0', '1=1', 0, 0, '12/17/2012 10:13:21 AM', NULL, NULL)
INSERT INTO @VC3ETL_LoadTable VALUES ('f8b21125-33fb-4291-b79c-03da15c4861e', 'E664C745-7397-4F7E-80FE-5D19B7B56EEE', 777, 'Util_VerifyProgramDataAssumptions ''F98A8EF2-98E2-4CAC-95AF-D7D89EF7F80C''', NULL, 0, NULL, NULL, NULL, 4, 0, 0, 0, 0, NULL, NULL, NULL, 0, 0, '1/1/1970 12:00:00 AM', NULL, NULL)
INSERT INTO @VC3ETL_LoadTable VALUES ('dfaed4cb-5586-4e9d-801e-07fe16b6ae8d', 'E664C745-7397-4F7E-80FE-5D19B7B56EEE', 24, 'LEGACYSPED.Transform_IepServices', 'FormInstance', 1, 'LEGACYSPED.MAP_FormInstance_Services', 'IepRefId', NULL, 1, 0, 1, 1, 0, 'DoNotTouch = 0', NULL, NULL, 0, 0, '12/5/2012 5:21:20 PM', NULL, NULL)
-- INSERT INTO @VC3ETL_LoadTable VALUES ('09206527-2b63-4534-ad23-f79439410687', 'E664C745-7397-4F7E-80FE-5D19B7B56EEE', 65, 'LEGACYSPED.Transform_IepGoalSubGoalAreaDef', 'IepGoalSubGoalAreaDef', 0, NULL, NULL, NULL, 1, 0, 0, 1, 1, NULL, NULL, NULL, 0, 0, '12/17/2012 10:16:51 AM', NULL, NULL)
-- iepesy
--PrgDocument


-- PrgGoalareaDef

-- Declare a temporary table to hold the data to be synchronized
DECLARE @VC3ETL_LoadColumn TABLE (ID uniqueidentifier, LoadTable uniqueidentifier, SourceColumn varchar(500), DestColumn varchar(500), ColumnType char(1), UpdateOnDelete bit, DeletedValue varchar(500), NullValue varchar(500), Comments varchar(1000))

-- Insert the data to be synchronized into the temporary table
INSERT INTO @VC3ETL_LoadColumn VALUES ('063ecf4f-7b45-4bfd-b799-00c97cc7f64e', '12982413-86e6-4cfb-b7d7-bb51d3be0fe4', 'FormInputValue', 'ID', 'K', 0, NULL, NULL, NULL)
INSERT INTO @VC3ETL_LoadColumn VALUES ('7489fca5-ce5f-4b80-a14c-019be1a8d7bc', '78d7c5c4-dc7b-4443-bd00-297742cf435b', 'UseProgressReporting', 'UseProgressReporting', 'C', 0, NULL, NULL, NULL)
INSERT INTO @VC3ETL_LoadColumn VALUES ('a586faee-b022-4376-ba6a-02b85972f4f7', 'b471f9b9-b781-4646-9788-f7fcb0390eb2', 'StatusStyleID', 'StatusStyleID', 'C', 0, NULL, NULL, NULL)
--INSERT INTO @VC3ETL_LoadColumn VALUES ('5f9b9748-c66f-42b1-bdb3-b97b0b1540c1', '8ae59fb0-6bc1-4133-b6c4-a169cc1e6bf7', 'GoalAreaID', 'GoalAreaID', 'C', 0, NULL, NULL, NULL)
-- new column in PrgSection - we call the transform twice - once for Versioned records and once for Unversioned (funny that it's a required column for unversioned sections)

-- PrgItemTeamMember columns were somehow missing

-- iepesy
--IepDisability (this was apparently already added above)
-- INSERT INTO @VC3ETL_LoadColumn VALUES ('C2C684A8-BB24-4FE9-A400-6DC7216C9650', 'c258b587-87b6-40fa-83db-946c55d48482', 'ProgramID', 'ProgramID', 'C', 0, NULL, NULL, NULL)
-- removed duplicate LoadTable record and related LoadColumn records.
-- INSERT INTO @VC3ETL_LoadColumn VALUES ('e91d1172-c5b2-423a-a5c2-94c333a09ab4', '09206527-2b63-4534-ad23-f79439410687', 'GoalID', 'GoalID', 'K', 0, NULL, NULL, NULL)
-- INSERT INTO @VC3ETL_LoadColumn VALUES ('e5c9b307-b5ec-473e-a9ed-115f96148e49', '09206527-2b63-4534-ad23-f79439410687', 'DefID', 'DefID', 'K', 0, NULL, NULL, NULL)

-- new column added to PrgItem table in 9.x.x.x

--PrgDocument

--ServiceDef

--ServicePlan


-- PrgGoalareaDef


set nocount off;

-- need to delete deprecated columns.
delete d
-- select d.*
from VC3ETL.LoadColumn d join 
@VC3ETL_LoadTable lt on d.LoadTable = lt.ID left join
@VC3ETL_LoadColumn s on d.ID = s.ID
where s.ID is null


-- Insert records in the destination tables that do not already exist
INSERT INTO VC3ETL.ExtractDatabase SELECT Source.* FROM @VC3ETL_ExtractDatabase Source LEFT JOIN VC3ETL.ExtractDatabase Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.ExtractTable SELECT Source.* FROM @VC3ETL_ExtractTable Source LEFT JOIN VC3ETL.ExtractTable Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.LoadTable SELECT Source.* FROM @VC3ETL_LoadTable Source LEFT JOIN VC3ETL.LoadTable Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL
INSERT INTO VC3ETL.LoadColumn SELECT Source.*, 1 FROM @VC3ETL_LoadColumn Source LEFT JOIN VC3ETL.LoadColumn Destination ON Source.ID = Destination.ID WHERE Destination.ID IS NULL


-- Update records in the destination table that already exist
UPDATE Destination SET Destination.Type = Source.Type, Destination.DatabaseType = Source.DatabaseType, Destination.Server = Source.Server, Destination.DatabaseOwner = Source.DatabaseOwner, Destination.DatabaseName = Source.DatabaseName, Destination.Username = Source.Username, Destination.Password = Source.Password, Destination.LinkedServer = Source.LinkedServer, Destination.IsLinkedServerManaged = Source.IsLinkedServerManaged, Destination.LastExtractDate = Source.LastExtractDate, Destination.LastLoadDate = Source.LastLoadDate, Destination.SucceededEmail = Source.SucceededEmail, Destination.SucceededSubject = Source.SucceededSubject, Destination.SucceededMessage = Source.SucceededMessage, Destination.FailedEmail = Source.FailedEmail, Destination.FailedSubject = Source.FailedSubject, Destination.FailedMessage = Source.FailedMessage, Destination.RetainSnapshot = Source.RetainSnapshot, Destination.DestTableTempSuffix = Source.DestTableTempSuffix, Destination.DestTableFinalSuffix = Source.DestTableFinalSuffix, Destination.FileGroup = Source.FileGroup, Destination.Schedule = Source.Schedule, Destination.Name = Source.Name, Destination.Enabled = Source.Enabled FROM @VC3ETL_ExtractDatabase Source JOIN VC3ETL.ExtractDatabase Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.ExtractDatabase = Source.ExtractDatabase, Destination.SourceTable = Source.SourceTable, Destination.DestSchema = Source.DestSchema, Destination.DestTable = Source.DestTable, Destination.PrimaryKey = Source.PrimaryKey, Destination.Indexes = Source.Indexes, Destination.LastSuccessfulCount = Source.LastSuccessfulCount, Destination.CurrentCount = Source.CurrentCount, Destination.Filter = Source.Filter, Destination.Enabled = Source.Enabled, Destination.IgnoreMissing = Source.IgnoreMissing, Destination.Columns = Source.Columns, Destination.Comments = Source.Comments FROM @VC3ETL_ExtractTable Source JOIN VC3ETL.ExtractTable Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.ExtractDatabase = Source.ExtractDatabase, Destination.Sequence = Source.Sequence, Destination.SourceTable = Source.SourceTable, Destination.DestTable = Source.DestTable, Destination.HasMapTable = Source.HasMapTable, Destination.MapTable = Source.MapTable, Destination.KeyField = Source.KeyField, Destination.DeleteKey = Source.DeleteKey, Destination.ImportType = Source.ImportType, Destination.DeleteTrans = Source.DeleteTrans, Destination.UpdateTrans = Source.UpdateTrans, Destination.InsertTrans = Source.InsertTrans, Destination.Enabled = Source.Enabled, Destination.SourceTableFilter = Source.SourceTableFilter, Destination.DestTableFilter = Source.DestTableFilter, Destination.PurgeCondition = Source.PurgeCondition, Destination.KeepMappingAfterDelete = Source.KeepMappingAfterDelete, Destination.StartNewTransaction = Source.StartNewTransaction, Destination.LastLoadDate = Source.LastLoadDate, Destination.MapTableMapID = Source.MapTableMapID, Destination.Comments = Source.Comments FROM @VC3ETL_LoadTable Source JOIN VC3ETL.LoadTable Destination ON Source.ID = Destination.ID
UPDATE Destination SET Destination.LoadTable = Source.LoadTable, Destination.SourceColumn = Source.SourceColumn, Destination.DestColumn = Source.DestColumn, Destination.ColumnType = Source.ColumnType, Destination.UpdateOnDelete = Source.UpdateOnDelete, Destination.DeletedValue = Source.DeletedValue, Destination.NullValue = Source.NullValue, Destination.Comments = Source.Comments FROM @VC3ETL_LoadColumn Source JOIN VC3ETL.LoadColumn Destination ON Source.ID = Destination.ID

set nocount off;

COMMIT TRAN
